/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import url("./colors.css");
@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    color: white;
    margin: 0;
    padding: 0;
	font-size: 10pt;
}

/* The whole bar */
#waybar {
	opacity: 0.8;
    background: @background-darker;
    color: @foreground;
    font-family: Hack Nerd Font, Noto Sans, sans-serif;
    font-size: 12px;
	border-bottom: 2px solid @background;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @purple;
    color: @foreground;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#language {
    padding-left: 4px;
    padding-right: 4px;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
    background-image: linear-gradient(0deg, @purple, @selection);
}

#cpu {
  /* No styles */
	color: @green;
}

#cpu.warning {
    color: @orange;
}

#cpu.critical {
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight.bright { 
    color: @orange;
}

#backlight.dark {
    color: @foreground;
}

#memory.warning {
    color: @orange;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background-color: @purple;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
    color: @red;
}
#keyboard-state label.capslock.locked {
    color: @pink;
}
#keyboard-state label.numlock.locked {
    color: @pink;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
    color: @cyan;
}

#temperature.critical {
    color: @red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: normal;
}


#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}

#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.focused {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.visible {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

